<html>
    <head>
       <script type="text/javascript" charset="utf-8">
       	
function geo() {
		if (navigator.geolocation) {
  			/* geolocation is available */
			navigator.geolocation.getCurrentPosition(function(position) {  
				window.location.href="/geo?lat=" + position.coords.latitude + "&lon="+ position.coords.longitude;
			});  
			} else {
 				alert("I'm sorry, but geolocation services are not supported by your browser.");
			}
		}
       </script>
    <title>Casa ou Bar?</title>
    <meta name = "viewport" content = "width = device-width">
    <meta name = "viewport" content = "initial-scale = 1.0">
    </head>
    <body><center><font face="tahoma">
            <font size="10">casa<font color="#FF0000">ou</font>bar?</font>
			<!--<p>Km {{ km }} - Tendencia: {{ trend }}</p>-->
			<h1>{{ decision }}</h1>
			{% ifequal decision "bar :)" %}
				<a href="javascript:geo()">veja os bares perto de voc&ecirc;</a>
				<br>
	            <br>
	            <p>PS: se beber não dirija! ;)</p>
			{% endifequal %}
			<br>
			<br>
			<p>por <a href="http://twitter.com/pedrovalente">@pedrovalente</a> e <a href="http://twitter.com/rzouain">@rzouain</a></p>
			</font></center>
    </body>
</html>