<html>
    <head>
       <script type="text/javascript" charset="utf-8">
       	
		if (navigator.geolocation) {
  			/* geolocation is available */
			navigator.geolocation.getCurrentPosition(function(position) {  
				alert(position.coords.latitude, position.coords.longitude);  
			});  
			} else {
 				alert("I'm sorry, but geolocation services are not supported by your browser.");
			}
		
       </script>
    </head>
    <body><center>
            <h2>Casa ou Bar?</h2>
			<p>Km {{ km }} - Tendencia: {{ trend }}</p>
			<h1>{{ decision }}</h1>
			{% ifequal decision "bar" %}
				<a href="">Decidir o bar</a>
			{% endifequal %}
			</center>
    </body>
</html>