<html>
    <head>
	 <link href="http://zoua.in/stuff/style.css" rel="stylesheet" type="text/css" />
       <script type="text/javascript" charset="utf-8">
       	
function geo() {
		if (navigator.geolocation) {
  			/* geolocation is available */
			navigator.geolocation.getCurrentPosition(function(position) {  
				window.location.href="/geo?lat=" + position.coords.latitude + "&lon="+ position.coords.longitude;
			});  
			} else {
 				alert("I'm sorry, but geolocation services are not supported by your browser.");
			}
		}
       </script>
    </head>
    <body><center>
            <h2>Casa ou Bar?</h2>
			<p>Km {{ km }} - Tendencia: {{ trend }}</p>
			<h1>{{ decision }}</h1>
			{% ifequal decision "bar" %}
				<a href="javascript:geo()">Decidir o bar</a>
			{% endifequal %}
			</center>
    </body>
</html>